body {
  color: #000;
  font-family: Gotham, gotham, Verdana, sans-serif;
}
/*---------------
    #Collapsible Title
---------------*/

.collapsible-title-container {
  max-width: 1024px;
  margin: 0 auto;
}
.collapsible-title-inner-layout {
  padding: 20px 0;
  width: 65%;
}

.collapsible-title-collapsible {
  align-items: center;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  font-size: 28px;
  font-weight: 700;
  justify-content: space-between;
  margin: 0;
  padding: 18px 18px 18px 0;
  position: relative;
  z-index: 1;
}

.collapsible-title-collapsible:after {
  border-left: 2px solid #666;
  border-top: 2px solid #666;
  content: '';
  cursor: pointer;
  display: block;
  height: 14px;
  position: initial;
  transform: rotate(45deg);
  width: 14px;
}

.collapsible-title-collapsed {
  align-items: center;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  font-size: 28px;
  font-weight: 700;
  justify-content: space-between;
  margin: 0;
  padding: 18px 18px 18px 0;
  position: relative;
  z-index: 1;
}

.collapsible-title-collapsed:after {
  display: block;
  content: '';
  position: initial;
  height: 14px;
  width: 14px;
  cursor: pointer;
  transform: rotate(225deg);
  border-top: 2px solid #666;
  border-left: 2px solid #666;
}

/*---------------
    #Carousel
---------------*/

.nearby-homes {
  margin-bottom: 0;
  margin-top: 20px;
}

.nearby-homes-carousel {
  position: relative;
}

.nearby-homes-list {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  margin: 30px;
  min-width: 360px;
  overflow-x: hidden;
  grid-template-columns: 50% 50%;
}

/*---------------
    #Left Arrow
---------------*/

.carousel-left-arrow {
  -webkit-transform: rotate(135deg);
  border: solid #000;
  border-width: 0 3px 3px 0;
  display: block;
  height: 25px;
  position: absolute;
  transform: rotate(135deg);
  width: 25px;
  cursor: pointer;
  top: 69px;
}

.carousel-left-arrow-disabled {
  -webkit-transform: rotate(135deg);
  border: solid #000;
  border-width: 0 3px 3px 0;
  display: block;
  height: 25px;
  position: absolute;
  transform: rotate(135deg);
  width: 25px;
  cursor: pointer;
  opacity: 0.3;
  top: 69px;
}

/*---------------
    #Right Arrow
---------------*/

.carousel-right-arrow {
  -webkit-transform: rotate(-45deg);
  border: solid #000;
  border-width: 0 3px 3px 0;
  display: block;
  height: 25px;
  position: absolute;
  transform: rotate(-45deg);
  width: 25px;
  cursor: pointer;
  right: 0;
  bottom: 69px;
}

.carousel-right-arrow-disabled {
  -webkit-transform: rotate(-45deg);
  border: solid #000;
  border-width: 0 3px 3px 0;
  display: block;
  height: 25px;
  position: absolute;
  transform: rotate(-45deg);
  width: 25px;
  cursor: pointer;
  right: 0;
  opacity: 0.3;
  bottom: 69px;
}

/*---------------
    #Home
---------------*/

.home-main-container {
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-contents {
  font-weight: 300;
  height: 162px;
  padding: 0 0 2px 7px;
  width: 310px;
  color: #fff;
}

/*---------------
    #Home Detail
---------------*/
.home-photo-inline-top {
  display: inline-flex;
}

ul.home-posted-inline {
  padding: 0;
  margin-top: 5px;
  margin-bottom: 40px;
}

.home-photo-card-spec {
  margin: 0;
  font-size: 12px;
}

.home-photo-card-content:after,
.home-photo-card-content:before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
}

.home-photo-card-content:after {
  bottom: 0;
  height: 76px;
}

.home-photo-card-caption {
  margin-top: 20px;
  left: 270px;
}

.home-photo-card-spec .property-baths:before,
.home-photo-card-spec .property-area:before {
  color: #ddd;
  content: '\B7';
  margin: 0 6px;
}

.home-photo-card-price {
  font-size: 22px;
  line-height: 1.3;
}

.home-photo-card-info {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.home-photo-card-spec-address {
  font-size: 13px;
  margin: 0;
}

.home-photo-card-address {
  color: #ccc;
  font-size: 13px;
}

/*---------------
    #Home Posted
---------------*/

.home-posted-date {
  /* overflow-y: hidden; */
  font-size: 13px;
}

li.photo-count {
  list-style-type: none;
}

/*---------------
    #Home Status
---------------*/

.icon {
  border-radius: 50%;
  box-shadow: 0 0 0 3px #fff;
  display: inline-block;
  height: 8px;
  margin: 0 7px 0 1px;
  width: 8px;
}

.icon .inner-circle {
  border-radius: 50%;
  display: block;
  height: 100px;
  width: 100px;
  background: #000;
}
.icon-foreclosure-market,
.icon-off-market {
  border-radius: 50%;
  box-shadow: 0 0 0 3px #fff;
  display: inline-block;
  height: 8px;
  margin: 0 7px 0 1px;
  width: 8px;
  background: #808080;
}

.icon-sold-market {
  border-radius: 50%;
  box-shadow: 0 0 0 3px #fff;
  display: inline-block;
  height: 8px;
  margin: 0 7px 0 1px;
  width: 8px;
  background: #ffff00;
}
.icon-for-rent-market,
.icon-auction-market,
.icon-for-sale-market {
  border-radius: 50%;
  box-shadow: 0 0 0 3px #fff;
  display: inline-block;
  height: 8px;
  margin: 0 7px 0 1px;
  width: 8px;
  background: red;
}

/*---------------
    #Like Button
---------------*/
.zsg-photo-card-actions {
  border-style: none;
  position: relative;
}

.like-button {
  content: '\f004';
  left: 270px;
  font-size: 34px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #fff;
  position: absolute;
  width: 0;
  height: 0;
  color: black;
}

.like-button-filled {
  font-size: 34px;
  -webkit-text-stroke-width: 3px;
  color: #fff;
  position: absolute;
  width: 0;
  height: 0;
  left: 270px;
}

/*
################
               Popup
################
*/

.lightbox {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1018;
  overflow: auto;
  background: #333;
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lightbox-close {
  cursor: pointer;
}

.lightbox-inner {
  position: relative;
}

.lightbox--media-details {
  padding: 30px;
}

.lightbox--media-details .lightbox-close {
  position: absolute;
  top: -20px;
  right: 0;
  z-index: 3;
}

.fal .fa-times {
  font-size: 40px;
}

.media {
  overflow: hidden;
  height: 100%;
  text-align: center;
  font-size: 0;
  border-radius: 6px;
  background: #000;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.media-details {
  position: relative;
  height: 100%;
  color: black;
}

.media-details_container {
  position: relative;
  height: 100%;
}

.media-details_container--embed .media-container {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0 6px 6px 0;
}

.lightbox--media-details .media-lightbox {
  height: 100%;
}

/*
################
               Popup_GRID
################
*/
.media-details-grid {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

.media-details-grid_main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.fa-times {
  padding-left: 5px;
}
.media-details-grid_side {
  display: table-cell;
  vertical-align: top;
  width: 300px;
  padding: 10px;
  background: #fff;
}

.media-info-date {
  font-size: 12px;
  color: #ccc;
}
